body {
    font-family: Georgia, serif;
    background: white;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}
th {
    font-family: Verdana, sans-serif;
    font-size: smaller;
}
td {
    font-family: Verdana, sans-serif;
    font-size: smaller;
}
pre {
    margin-left: 5%;
}
p.caption {
    margin-top: 0px;
}
.footer {
    font-size: smaller;
}
